<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODE TESTER AI</title>
    <link rel="icon" href="/static/img/logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/answer.css">
</head>
<body>
    <div class="container">
        <h3 class="question">
            <p id="rcorners1">{{ script_output }}</p>
        </h3>
    
        <div class="editor-container">
            <div id="editor">//Write your code from here</div>
            <div id="leave-container">
                <!-- <a href="{% url 'feedback' %}" class="btn-leave">Leave</a> -->
                <div id="typing-speed">Typing Speed:<br> 0 WPM</div>
                <div id="timer">Time:<br> 00:00</div>
                <div id="theme-selector-container">
                    <label for="theme-selector">Select Theme:</label>
                    <select id="theme-selector">
                        <option value="ace/theme/cobalt">Cobalt</option>
                        <option value="ace/theme/monokai">Monokai</option>
                        <option value="ace/theme/github">GitHub</option>
                        <option value="ace/theme/solarized_dark">Solarized Dark</option>
                        <option value="ace/theme/solarized_light">Solarized Light</option>
                        <!-- Add more themes as needed -->
                    </select>
                </div>
            </div>
        </div>
        <form id="next-form" action="{% url 'feedback' %}" method="POST">
            {% csrf_token %}
            <!-- Hidden inputs to store script_output and editor_content -->
            <input type="hidden" id="script_output" name="script_output" value="{{ script_output }}">
            <input type="hidden" id="editor_content" name="editor_content">
            <button type="submit" class="btn-next" id="next-button">Next</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.5.3/ace.js"></script>
    <script src="/static/js/answer.js"></script>
</body>
</html>
