<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Tester AI</title>
    <link rel="icon" href="/static/img/logo.webp" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/feedback.css">
</head>
<body>
    <div class="container">
        <h3>Script Output:</h3>
        <p>{{ script_output }}</p>
        <h3>User Code:</h3>
        <pre>{{ editor_content }}</pre>
    </div>
</body>
</html>
